<%-   include('./partials/head.ejs')   %>
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>
<body>
    <%-   include('./partials/header_navbar.ejs')   %>
    <main>
        <img id="login_image" src="/images/login_image.jpg" alt="">
        <% if (noUserFound) { %>
            <div id="no_user_found">
                <label for=""><%= noUserFoundText %></label>                
            </div>              
        <% } %>  
        <form action="" method="post">                
            <input type="text" name="username" id="username" class="form_input1" placeholder="Type username..." <% if (usernameLogIn) { %>value="<%= usernameLogIn %>"<% } %>>
            <input type="password" name="password" id="password" class="form_input2" placeholder="Type password...">                    
        <% if (signup) { %>
            <input type="password" name="repeated_password" id="repeated_password" class="form_input2" placeholder="Type password again...">            
            <select name="usertype" id="usertype">
                <option value="driver">Driver</option>
                <option value="examiner">Examiner</option>
                <option value="admin">Admin</option>                
            </select>            
        <% } %>  
            <input type="submit" value="<%= principalButtontext %>" class="form_submit">    
        </form>
        <div id="or_login">
            <span>or</span>
        </div> 
        <button type="button" onclick = "window.location.href='login?signup=<%= signupToSend %>&orButtontext=<%= principalButtontext %>';"><%= orButtontext %></button>
    </main>  
    <%-   include('./partials/footer.ejs')   %>
</body>
</html>